<h1 class = titulo>Cadastro de Professores</h1>
<table>
 <td>
   <tr>
Nome:<input type = "text" [(ngModel)] = "nome"></tr><tr>
Matricula:<input type = "text" [(ngModel)] = "matricula"></tr><tr>
Idade:<input type = "text" [(ngModel)] = "idade"></tr>
 </td>
</table>
<button (click) = "cadastrar()">Salvar</button>
<div *ngIf = "professores.length == 0">
 <p>
   Não há professores cadastrados
 </p>
</div>
<ul *ngFor = "let aux of professores">
 <li>
   {{aux}}<button (click) = "Apagar()">Apagar</button>
 </li>
</ul>
